name: Makefile CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Shellcheck
        run: cd src/dsm7; make shellcheck

      - name: Test packaging of x86_64
        run: cd src/dsm7; ARCH=x86_64 make build

      - name: Test packaging
        run: cd src/dsm7; make build-all

      - name: Cleanup target
        run: cd src/dsm7; make clean

      - name: Cleanup dist
        run: cd src/dsm7; make clean-dist
